.companies{
    .gridCompanies{
        
    }
    .compLogo{
        width: 220px;
        filter: gray;
        -webkit-filter: grayscale(1);
        -webkit-transition: all .8s ease-in-out; 
    }
    .compLogo:hover {
        filter: none;
        -webkit-filter: grayscale(0);
        -webkit-transform: scale(1.01);
    }
}
  
@include mobile {
    .companies{
        .gridCompanies{
            text-align: center;
        }
        .compLogo{
            width: 125px;
            filter: gray;
            -webkit-filter: grayscale(1);
            -webkit-transition: all .8s ease-in-out; 
        }
        .compLogo:hover {
            filter: none;
            -webkit-filter: grayscale(0);
            -webkit-transform: scale(1.01);
        }
    }
}