//Colors
$primaryColor: #0288D1;
$secondaryColor: #7be583;
$darkColor: #222f3e;

$lightGrayColor: #EFF1F6;
$grayColor: #D6DAE5;
$darkGrayColor: #83919a;

$redColor: #ee5253;

//Text colors
$primaryTextColor: $darkColor;
